:root {
    --defaultGray: #EFF0F3;
    --black: #2B2C34;
    --blue: #6246EA;
    --grey: #C0C0C0;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
}

a:hover {
    transform: scale(1.1);
    transition: 0.4s;
}